/*Fuente roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:ital,wght@0,700;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body{

    font-family: 'Roboto', sans-serif;
    background-image: url(/static/images/fondo.jpg);
    background-size:cover;
    

    /* font-family:'Times New Roman', Times, serif; */
}



/* Inicio Encabezado*/

.container{
    max-width: 1100px;
    margin: 0 auto;
}

.back{
    padding: 32px;
    background-color: #583131;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    font-size: 24px;
    color: #E1D5D2;
    font-weight: 800;
    text-transform: uppercase;
    /* font-family:'Times New Roman', Times, serif; */
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFF;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #E1D5D2;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

@media(max-width:991px) {
    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .back {
        padding: 47px 0;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #583131;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }
}

.menu__horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu__horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu__horizontal > li:hover{
    background-color: gray;
}

.menu__vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color:#583131;
    color: white;
}

.menu__horizontal li:hover .menu__vertical{
    display: block;
}

.menu__vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

/* Fin Encabezado*/

/*Formulario agregar empleado*/
.form {
    background-color: #e2caae;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 1.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rbg(0 0 0 / 30%);
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

.form__title{
    font-size: 2em;
    margin-bottom: .5em;
}

.form__paragraph{
    font-weight: 300;
}

.form__container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form__group{
    position: relative;
    --color: #5757577e;
}

.form__input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom:1px solid var(--color) ;
    font-family: 'Roboto', sans-serif;
}

.form__input:focus,
.form__input:not(:placeholder-shown){
    color: #583131;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label{ 
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #583131;
}
.form__label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form__submit{
    background: #583131;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}
.form__line{
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%; 
    height: 1px;
    background-color: #583131;
    transform: scale(0);
    transform: left bottom; 
    transition: transform .4s;
}

.form__input:focus ~ .form__line,
.form__input:not(:placeholder-shown) ~ .form__line{
    transform: scale(1);
}

@media (max-width:425px) {
    .form__title{
        font-size: 1rem;
    }
}

/*TARJETA POKEMON*/

.card{
    border: 1px;
    width: 314px;
    height: auto;
    border-radius: 12px;
    overflow: hidden;
    margin: 68px auto;
    background-color: #e2caae;
}

.card_first-section_image{
    width: 10%;

}

.card__second-section__empleado-puesto{
    color: #706c6c;
    font-size: 1em;
    letter-spacing: 2px;
    margin: 18px 24px 8px 24px;
    
}

.card__second-section__nombre{
    font-family: 'Fraunces', serif;
    margin: 0px 24px 16px 24px;
    font-size: 2em;
    line-height: 34px;
}

.card__second-section__datos{
    margin: 0 24px 44px 24px;
    font-size: 0.95em;
    line-height: 22px;
}

.card__second-secction__button{
    width: 296px;
    height: 50px;
    background-color: #583131;
    color: #E1D5D2;
    border: none;
    border-radius: 8px;
    font-size: 0.95em;
    font-weight: 700;
    display: block;
    margin: auto;
    text-align: center;
    padding: 2px 2px 0;
    text-overflow: unset;
    
}

.card__second-secction__button:hover{
    cursor: pointer;
    background-color:#706c6c;

}

/*card desktop*/
@media (min-width: 750px) {
    .card{
        width: 600px;
        height: 410px;
        display: flex;
        margin: 175px auto 75px;
        overflow-y: scroll;

    }

    .card__first-section{
        width: 300px;
    }

    .card__second-secction{
        width: 300px;
    }

    .card__second-section__empleado-puesto{
        margin: 32px 24px 16px 24px;
    }

    .card__second-secction__button{
        width: 240px;
    }

    .card__second-section__datos{
        
        font-size: 0.95em;
        line-height: 22px;
    }
