<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Empleado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>

<body>
<!-- Ejemplo para mostrar mensajes del latex 
    {% if msg %}
    <p class="msg">{{ msg }}</p>
    {% endif %}

-->    <!--Barra de navegacíon-->
    <div>

        <header>
            <div class="back">
                <div class="menu container">
                    
                    <a class="logo" href="{{url_for('inicio')}}">COFFEE</a>
                    <input type="checkbox" id="menu">
                    <label for="menu">
                        <img src="{{ url_for('static', filename='images/menu.png') }}" class="menu-icono" alt="">
                    </label>
                    
                    <nav class="navbar">    
                        <ul>
                            <li><a href="{{url_for('inicio')}}">Inicio</a></li>
                        </ul>
                    </nav>
                    
                </div>
            </div>
        </header>
    </div>
        <!-- Fin barra de navegacíon-->
    <div>

        <form action="/agregar_empleado" method="POST" autocomplete="off" class="form" enctype="multipart/form-data">
            
            <div class="form__container">
                <h2 class="form__title">Agregar empleado</h2>
                
                <div class="form__group">   
                    <input type="text" id="rfc" class="form__input" name="rfc" placeholder=" " required>
                    <label for="rfc" class="form__label">RFC</label>
                    <span class="form_line"></span>
                </div>
                
                <div class="form__group">   
                    <input type="text" id="nombre" class="form__input" name="nombre" placeholder=" ">
                    <label for="nombre" class="form__label">Nombre:</label>
                    <span class="form_line"></span>
                </div>
                
                <div class="form__group">   
                    <input type="text" id="appat" class="form__input" name="appat" placeholder=" ">
                    <label for="appat" class="form__label">Apellido Paterno</label>
                    <span class="form_line"></span>
                </div>
                
                <div class="form__group">   
                    <input type="text" id="apmat" class="form__input" name="apmat" placeholder=" ">
                    <label for="apmat" class="form__label">Apellido Materno</label>
                    <span class="form_line"></span>
                </div>
                    
                    
                <div class="form__group">   
                    <input type="date" id="fechanac" class="form__input" name="fechanac" placeholder=" ">
                    <label for="fechanac" class="form__label">Fecha de Nacimiento</label>
                    <span class="form_line"></span>
                </div>
                    
                <div class="form__group">   
                    <input type="number" id="edad" class="form__input" name="edad" placeholder=" ">
                    <label for="edad" class="form__label">Edad</label>
                    <span class="form_line"></span>
                </div>
                    
                <div class="form__group">   
                    <input type="file" id="foto" class="form__input" name="foto" placeholder=" " accept="image/*" required>
                    <label for="foto" class="form__label">Seleccione una Foto</label>
                    <span class="form_line"></span>
                </div>
                
                    <!-- <legend>Datos de Vivienda</legend> -->
                    
                <div class="form__group">   
                    <input type="text" id="estado" class="form__input" name="estado" placeholder=" ">
                    <label for="estado" class="form__label">Estado</label>
                    <span class="form_line"></span>
                </div>
                
                <div class="form__group">   
                    <input type="number" id="cp" class="form__input" name="cp" placeholder=" ">
                    <label for="cp" class="form__label">Codigo Postal</label>
                    <span class="form_line"></span>
                </div>
                
                <div class="form__group">   
                    <input type="text" id="colonia" class="form__input" name="colonia" placeholder=" ">
                    <label for="colonia" class="form__label">Colonia</label>
                    <span class="form_line"></span>
                </div>
                
                <div class="form__group">   
                    <input type="text" id="calle" class="form__input" name="calle" placeholder=" ">
                    <label for="calle" class="form__label">Calle</label>
                    <span class="form_line"></span>
                </div>
                
                <div class="form__group">   
                    <input type="number" id="numero" class="form__input" name="numero" placeholder=" ">
                    <label for="numero" class="form__label">Numero</label>
                    <span class="form_line"></span>
                </div>
                
                <legend>Puesto de Trabajo</legend>
                <label for="puesto">Seleccione el puesto de trabajo</label>
                <select id="puesto" name="puesto">
                    <option id="SelectDefault">--Seleccione una opcion--</option>
                    <option value="Administrativo">Administrativo</option>
                    <option value="Mesero">Mesero</option>
                    <option value="Cocinero">Cocinero</option>
                </select> 
                
                <div class="form__group">   
                    <input type="text" id="descripcion" class="form__input" name="descripcion" placeholder=" ">
                    <label for="descripcion" class="form__label">Descripcion</label>
                    <span class="form_line"></span>
                </div>
                
                    <input type="submit" class="form__submit" value="Agregar">
                
            </div>
            </form>
        </div>
    </body>
</html>