<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar factura</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <div>

        <header>
            <div class="back">
                <div class="menu container">

                    <a class="logo" href="{{url_for('inicio')}}">COFFEE</a>
                    <input type="checkbox" id="menu">
                    <label for="menu">
                        <img src="{{ url_for('static', filename='images/menu.png') }}" class="menu-icono" alt="">
                    </label>

                    <nav class="navbar">    
                        <ul>
                            <li><a href="{{url_for('inicio')}}">Inicio</a></li>
                        </ul>
                    </nav>

                </div>
            </div>
        </header>
    </div>
        <!-- Fin barra de navegacíon-->
    <div>
        <!-- Información que deberá de ir en la página para la generación de la factura -->
        <!-- 
            En este caso, se deberá de ingresar el folio de la orden y el RFC de cliente. Donde se visualizará lo siguiente

            1. Si el folio de la orden es inválido, se deberá de señalizar al mesero
            2. Si el RFC existe, se generará la facturar de forma directa
            3. Si el RFC no existe, se deberá de llamar al formulario para agregar al cliente

            Una vez que se valide todo, se deberá de generar una vista con los datos del cliente y el ticket
         -->

        </div>
    </body>
</html>