<!-- ESTE YA OBTIENE LA IMAGEN. FALTAN LOS DATOS DL EMPLEADO -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información empleado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>
<body>
    <div>
        <header>
            <div class="back">
                <div class="menu container">
                    <a class="logo" href="{{url_for('inicio')}}">COFFEE</a>
                    <input type="checkbox" id="menu">
                    <label for="menu">
                        <img src="{{ url_for('static', filename='images/menu.png') }}" class="menu-icono" alt="">
                    </label>
                    <nav class="navbar">    
                        <ul>
                            <li><a href="{{url_for('obtenerInfoEmpleado')}}">Buscar empleados</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!-- Fin barra de navegación-->
        <main class="card">
            <section class="card__first-secction">
                <img class="card__first-secction__image" src="{{ ruta_imagen }}" alt="Imagen del empleado">
            </section>

            <section class="card__second-section">
                <p class="card__second-section__empleado-puesto">puesto empleado</p>
                <h2 class="card__second-section__nombre"> nombre </h2>
                <p class="card__second-section__datos">aqui van los campos de los daots, se replica la seccion segun la cantidad de datos</p>
                <p class="card__second-section__datos">aqui van los campos de los daots, se replica la seccion segun la cantidad de datos</p>

                <button class="card__second-secction__button">Regresar</button>
            </section>
        </main>


    </div>

    </body>
</html>
