<!-- Esto lo estoy probando yo -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factura</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>
<body>
    <div>
        <header>
            <div class="back">
                <div class="menu container">
                    <a class="logo" href="{{url_for('inicio')}}">COFFEE</a>
                    <input type="checkbox" id="menu">
                    <label for="menu">
                        <img src="{{ url_for('static', filename='images/menu.png') }}" class="menu-icono" alt="">
                    </label>
                    <nav class="navbar">    
                        <ul>
                            <li><a href="{{url_for('inicio')}}">Inicio</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    </div>
        <!-- Fin barra de navegacíon-->
    <div>
        <!-- 
            En este caso, se deberá de solicitar el nombre del empleado deseado.
            - Python regresará todos los registros asociadas a dicho nombre, por lo que se deberán de mostrar dichas opciones.
            - Una vez seleccionado alguno de los empleados, se deberá de mostrar una vista con la información de dicho cliente
        -->
        <div>
            <!-- Cuando haya mas de un empleado, mostraremos la tabla aquí con la opción de selección -->
            <div class="form__container">
                <h2 class="form__title">Se obtuvieron los registros siguientes: </h2>
                <div class="form__group">
                    <!-- Aquí debe de ir toda la información del cliente (checar el número de campos) -->
                    <p>Información del cliente: {{cliente.0}}</p>
                    <!-- Igualmente se tiene el ticket, que es un conjunto de tuplas con la información de los productos -->
                    <!-- Eso igual lo deberán de mostrar aquí -->
                </div>
                <br>
            </div>
        </div>
    </body>
</html>