<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos más vendidos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body class="fondo__pages">
    <div>

        <header class="header-inpages">

            <div class="menu container">

                <a class="logo" href="{{url_for('inicio')}}">COFFEE</a>
                <input type="checkbox" id="menu">
                <label for="menu">
                    <img src="{{ url_for('static', filename='images/menu.png') }}" class="menu-icono" alt="">
                </label>

                <nav class="navbar">    
                    <ul class="menu__horizontal">
                        <li>
                            <a href="{{url_for('inicio')}}">Inicio</a>
                        </li>
                    </ul>
                </nav>

            </div>

    </header>
    </div>
        <!-- Fin barra de navegacíon-->
        <div>
            <form action="/productos_mas_vendidos" method="POST" autocomplete="off" class="form">
                <div class="form__container">
                    <h1 class="form__title">Productos más vendidos</h1>
                    <div>
                      {% for platillo in platillos %}
                          <p>ID: {{platillo.0}}: Nombre: {{platillo.1}} Precio: {{platillo.3}} Ventas:{{platillo.7}}</p>
                      {% endfor %}
                    </div>


            </form>
        <!-- 
            En este caso, se deberá de solicitar el nombre del empleado deseado.
            - Python regresará todos los registros asociadas a dicho nombre, por lo que se deberán de mostrar dichas opciones.
            - Una vez seleccionado alguno de los empleados, se deberá de mostrar una vista con la información de dicho cliente
        --></div>

        <!-- 
            En este caso, se deberá de solicitar el nombre del empleado deseado.
            - Python regresará todos los registros asociadas a dicho nombre, por lo que se deberán de mostrar dichas opciones.
            - Una vez seleccionado alguno de los empleados, se deberá de mostrar una vista con la información de dicho cliente
        -->

    </body>
</html>
